In [3]:
from snowflake.snowpark import Session
import tomllib
import os

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:

with open("/workspaces/UMBC-DATA606-Capstone/snowflakecli.toml", "rb") as f:
    
    config = tomllib.load(f)  # Python >=3.11

# Get litecoin connection details
litecoin_config = config["connections"]["litecoin"]

# Replace placeholders with environment variable values
conn_params = {k: os.path.expandvars(v) for k, v in litecoin_config.items()}

# Create Snowpark session
session = Session.builder.configs(conn_params).create()

# Test connection
print("Current Snowflake Role:", session.sql("SELECT CURRENT_ROLE()").collect()[0][0])

Current Snowflake Role: ACCOUNTADMIN

In [17]:
df=session.table("ADDRESSES")
df.show(5)

-----------------------------------------------------------------
|"ADDRESS"                                    |"BALANCE"        |
-----------------------------------------------------------------
|ltc1qr07zu594qf63xm7l7x6pu3a2v39m2z6hh5pp4t  |220500946860318  |
|MQd1fJwqBJvwLuyhr17PhEFx1swiqDbPQS           |194164079101568  |
|LiDY79SxUJfjE6fyqyxXxh9kBpfi4sRoKf           |180000005009092  |
|MLj1bgnNs8iAmNxhZNnrymQaAZNqnXXV3E           |103308199999497  |
|MS56eJAupdvN5bYo6ythw784qahCpTzZ5V           |87821780983768   |
-----------------------------------------------------------------

In [18]:
df_addresses=df.to_pandas()
df_addresses.head()

                                       ADDRESS   BALANCE
0           LfiDDbWe1eihoUeK4UVJXgGa2xERJcrJLB  59729753
1           LR5wgMBo7DFvik7PDB8iBuMdqpub3UHz5L  59727022
2  ltc1q634en25vruwtswan0dcg2kvml4z4ttn2t7cgfr  59721195
3  ltc1qs7pfksy8g90r889m9c6gv0fvwlyca6ma6quu7v  59720000
4  ltc1qz7wkdl4r5n4x8xnxy3z6f4g3tzxnvducwvn8lq  59717753

In [19]:
# Convert BALANCE from satoshis to LTC
# 1 LTC = 100,000,000 satoshis
df_addresses["BALANCE"] = df_addresses["BALANCE"] / 1e8
df_addresses[["ADDRESS", "BALANCE"]].head()

                                       ADDRESS   BALANCE
0           LfiDDbWe1eihoUeK4UVJXgGa2xERJcrJLB  0.597298
1           LR5wgMBo7DFvik7PDB8iBuMdqpub3UHz5L  0.597270
2  ltc1q634en25vruwtswan0dcg2kvml4z4ttn2t7cgfr  0.597212
3  ltc1qs7pfksy8g90r889m9c6gv0fvwlyca6ma6quu7v  0.597200
4  ltc1qz7wkdl4r5n4x8xnxy3z6f4g3tzxnvducwvn8lq  0.597178

In [20]:
df_addresses.columns

Index(['ADDRESS', 'BALANCE'], dtype='object')

In [21]:
df_addresses.describe()

            BALANCE
count  8.575121e+06
mean   8.904970e+00
std    1.599858e+03
min    1.000000e-08
25%    1.000000e-04
50%    1.182200e-03
75%    9.535933e-02
max    2.205009e+06