In [1]:
import pandas as pd

In [5]:
df_blocks=pd.read_csv("../data/blockchair_litecoin_blocks_20250908.tsv",sep='\t')

In [6]:
df_blocks.head(5)

,id,hash,time,median_time,size,stripped_size,weight,version,version_hex,version_bits,...,fee_per_kb,fee_per_kb_usd,fee_per_kwu,fee_per_kwu_usd,cdd_total,generation,generation_usd,reward,reward_usd,guessed_miner
0,2964092,c981c77af0b8b4213de2e0b81f2542b31bb5fd6ce485ba...,2025-09-08 00:01:45,2025-09-07 23:38:27,292178,148143,736607,536870932,20000014,100000000000000000000000010100,...,27415.2,0.0315,10864.80,0.0125,3879.829163,625000000,718.6875,633000494,727.8873,F2Pool
1,2964093,6312e728fc84cbaba7530958137f769ea63b2680b27273...,2025-09-08 00:07:17,2025-09-07 23:53:06,434890,254536,1198498,536870912,20000000,100000000000000000000000000000,...,9514.4,0.0109,3449.89,0.0040,21279.290689,625000000,718.6875,629134474,723.4417,Unknown
2,2964094,bbe6596525a39e5418b44a1606e31c19a5c08a69c8c121...,2025-09-08 00:07:25,2025-09-07 23:53:09,426,390,1596,536870912,20000000,100000000000000000000000000000,...,0.0,0.0000,0.00,0.0000,16.963269,625000000,718.6875,625000000,718.6875,AntPool
3,2964095,83ed1c13f004fe87358ab4dee92dce13b796872942a4f8...,2025-09-08 00:07:40,2025-09-07 23:53:20,8937,5410,25167,536870932,20000014,100000000000000000000000010100,...,11745.6,0.0135,4212.08,0.0048,38.961255,625000000,718.6875,625100871,718.8035,F2Pool
4,2964096,3c955b042226fa7505c2aea1022075f4aa3b7b5de41172...,2025-09-08 00:08:51,2025-09-07 23:55:45,51937,37238,163651,536870932,20000014,100000000000000000000000010100,...,13219.8,0.0152,4194.74,0.0048,705.145360,625000000,718.6875,625681981,719.4717,F2Pool

In [7]:
df_blocks.columns

Index(['id', 'hash', 'time', 'median_time', 'size', 'stripped_size', 'weight',
       'version', 'version_hex', 'version_bits', 'merkle_root', 'nonce',
       'bits', 'difficulty', 'chainwork', 'coinbase_data_hex',
       'transaction_count', 'witness_count', 'input_count', 'output_count',
       'input_total', 'input_total_usd', 'output_total', 'output_total_usd',
       'fee_total', 'fee_total_usd', 'fee_per_kb', 'fee_per_kb_usd',
       'fee_per_kwu', 'fee_per_kwu_usd', 'cdd_total', 'generation',
       'generation_usd', 'reward', 'reward_usd', 'guessed_miner'],
      dtype='object')